## Requesting Data from Application Programming Interfaces (API's)
This notebook demonstrates the fundamentals of interacting with a web-hosted API for the sake of data retrieval. Much of this functionality is made available through the **requests** library which should have already been installed on your machine as part of the **Anaconda** python distribution. Documentation for the **requests** library is here:
https://docs.python-requests.org/en/latest/user/quickstart/. 

### 1.0. Prerequisites
If you find that the **requests**  library isn't already installed on your machine then simply run the following command in a new **Terminal** window in your Jupyter environment... just as you have in following labs.
-  python -m pip install requests

#### 1.1. Import the libaries that you'll be working with in the notebook

In [1]:
import os
import json
import pprint
import requests
import requests.exceptions
import pandas as pd

### 2.0. Issue a Request to an API Endpoint
The following function issues a **request** to a REST API endpoint via the HTTP request/response mechanism. It demonstrates returning the *JSON payload* of the **response** object as one of two **response_types**; either as a **string** or as a **Pandas DataFrame**.  

#### 2.1. Exception Handling:
In order to cope with the stateless nature of HTTP communications, the **get_api_response()** function implements extensive **exception handling**. When attempting to connect to an HTTP endpoint, the following response **status_codes** may be returned:
- **200:** Everything went okay, and the result has been returned (if any).
- **301:** The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
- **400:** The server thinks you made a bad request. This can happen when you don’t send along the right data, among other things.
- **401:** The server thinks you’re not authenticated. Many APIs require login ccredentials, so this happens when you submit the wrong credentials.
- **403:** The resource you’re trying to access is forbidden: you don’t have the right perlessons to see it.
- **404:** The resource you tried to access wasn’t found on the server.
- **503:** The server is not ready to handle the request.

In [2]:
def get_api_response(url, response_type):
    try:
        response = requests.get(url)
        response.raise_for_status()
    
    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)

    if response_type == 'json':
        result = json.dumps(response.json(), sort_keys=True, indent=4)
    elif response_type == 'dataframe':
        result = pd.json_normalize(response.json())
    else:
        result = "An unhandled error has occurred!"
        
    return result

#### 2.2. Unit test to ensure proper exception handling functionality

In [3]:
bad_url = "https://api.open-notify.org/this-api-doesnt-exist"
valid_url = "http://universities.hipolabs.com/search?name=middle"

response_type = ['json', 'dataframe']

In [4]:
json_string = get_api_response(bad_url, response_type[0])
print(json_string)

An Error Connecting to the API occurred: ConnectionError(MaxRetryError("HTTPSConnectionPool(host='api.open-notify.org', port=443): Max retries exceeded with url: /this-api-doesnt-exist (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000026028AD02E0>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))"))

In [5]:
df = get_api_response(bad_url, response_type[1])
print(df)

An Error Connecting to the API occurred: ConnectionError(MaxRetryError("HTTPSConnectionPool(host='api.open-notify.org', port=443): Max retries exceeded with url: /this-api-doesnt-exist (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000026028AD06A0>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))"))

#### 2.3. Unit test to ensure proper data retrieval functionality
Here we can see that when specifying **response_type[0]** we get back a **string in JSON format**, and when specifying **response_type[1]** we get back a **Pandas DataFrame**.  On closer inspection we can observe that the JSON payload is in the form of a **list** of **dictionaries**, each of which includes nested **lists** for the **domains** and **web_pages** fields in addition to the other fields that are formatted in simple **"key" : "value"** format. This presents a problem we will have to handle in order to have a correctly formed **DataFrame** because, as we learned when desiging **OLTP** databases, having multiple values in a single column violates the **First Normal Form**.

In [6]:
json_string = get_api_response(valid_url, response_type[0])
print(json_string)

[
    {
        "alpha_two_code": "GB",
        "country": "United Kingdom",
        "domains": [
            "middlesbro.ac.uk",
            "mbro.ac.uk"
        ],
        "name": "Middlesbrough College",
        "state-province": null,
        "web_pages": [
            "https://www.mbro.ac.uk/"
        ]
    },
    {
        "alpha_two_code": "US",
        "country": "United States",
        "domains": [
            "middlesex.mass.edu"
        ],
        "name": "Middlesex Community College",
        "state-province": null,
        "web_pages": [
            "http://www.middlesex.mass.edu"
        ]
    },
    {
        "alpha_two_code": "US",
        "country": "United States",
        "domains": [
            "middlesexcc.edu"
        ],
        "name": "Middlesex County College",
        "state-province": null,
        "web_pages": [
            "http://www.middlesexcc.edu"
        ]
    },
    {
        "alpha_two_code": "GB",
        "country": "United Kingdom",
        "domains": [
            "mdx.ac.uk"
        ],
        "name": "Middlesex University",
        "state-province": null,
        "web_pages": [
            "http://www.mdx.ac.uk/"
        ]
    },
    {
        "alpha_two_code": "US",
        "country": "United States",
        "domains": [
            "middlebury.edu"
        ],
        "name": "Middlebury College",
        "state-province": null,
        "web_pages": [
            "http://www.middlebury.edu/"
        ]
    },
    {
        "alpha_two_code": "US",
        "country": "United States",
        "domains": [
            "mga.edu"
        ],
        "name": "Middle Georgia State College",
        "state-province": null,
        "web_pages": [
            "http://www.mga.edu/"
        ]
    },
    {
        "alpha_two_code": "JO",
        "country": "Jordan",
        "domains": [
            "meu.edu.jo"
        ],
        "name": "Middle East University",
        "state-province": null,
        "web_pages": [
            "http://www.meu.edu.jo/"
        ]
    },
    {
        "alpha_two_code": "TR",
        "country": "Turkey",
        "domains": [
            "metu.edu.tr"
        ],
        "name": "Middle East Technical University",
        "state-province": null,
        "web_pages": [
            "http://www.metu.edu.tr/"
        ]
    },
    {
        "alpha_two_code": "US",
        "country": "United States",
        "domains": [
            "mtsu.edu"
        ],
        "name": "Middle Tennessee State University",
        "state-province": null,
        "web_pages": [
            "http://www.mtsu.edu/"
        ]
    },
    {
        "alpha_two_code": "KW",
        "country": "Kuwait",
        "domains": [
            "aum.edu.kw"
        ],
        "name": "American University of Middle East",
        "state-province": null,
        "web_pages": [
            "http://www.aum.edu.kw/"
        ]
    }
]

In [7]:
df = get_api_response(valid_url, response_type[1])

print(df.shape)
print(df.columns)

df.info()

(10, 6)
Index(['country', 'name', 'domains', 'alpha_two_code', 'state-province',
       'web_pages'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         10 non-null     object
 1   name            10 non-null     object
 2   domains         10 non-null     object
 3   alpha_two_code  10 non-null     object
 4   state-province  0 non-null      object
 5   web_pages       10 non-null     object
dtypes: object(6)
memory usage: 608.0+ bytes

In [8]:
df

,country,name,domains,alpha_two_code,state-province,web_pages
0,United Kingdom,Middlesbrough College,"[middlesbro.ac.uk, mbro.ac.uk]",GB,None,[https://www.mbro.ac.uk/]
1,United States,Middlesex Community College,[middlesex.mass.edu],US,None,[http://www.middlesex.mass.edu]
2,United States,Middlesex County College,[middlesexcc.edu],US,None,[http://www.middlesexcc.edu]
3,United Kingdom,Middlesex University,[mdx.ac.uk],GB,None,[http://www.mdx.ac.uk/]
4,United States,Middlebury College,[middlebury.edu],US,None,[http://www.middlebury.edu/]
5,United States,Middle Georgia State College,[mga.edu],US,None,[http://www.mga.edu/]
6,Jordan,Middle East University,[meu.edu.jo],JO,None,[http://www.meu.edu.jo/]
7,Turkey,Middle East Technical University,[metu.edu.tr],TR,None,[http://www.metu.edu.tr/]
8,United States,Middle Tennessee State University,[mtsu.edu],US,None,[http://www.mtsu.edu/]
9,Kuwait,American University of Middle East,[aum.edu.kw],KW,None,[http://www.aum.edu.kw/]

#### 2.3. Perform Desired Transformations
In any ETL process, there will be some form of data **transformation**.  Here we will explore transforming JSON data.

As identified above, the first issue we must handle is the nested **lists** that may contain multiple **domains** and **web_pages**. To do so we will exploring the advanced capabilities of the Pandas **json_normalize()** function, but first we will create a simplified function that retrieves a JSON object from an API.

In [9]:
def get_api_data(url):
    try:
        response = requests.get(url)
        response.raise_for_status()
    
    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)
        
    return response.json()

In [10]:
json_data = get_api_data(valid_url)
print(json_data)

[{'country': 'United Kingdom', 'name': 'Middlesbrough College', 'domains': ['middlesbro.ac.uk', 'mbro.ac.uk'], 'alpha_two_code': 'GB', 'state-province': None, 'web_pages': ['https://www.mbro.ac.uk/']}, {'country': 'United States', 'name': 'Middlesex Community College', 'domains': ['middlesex.mass.edu'], 'alpha_two_code': 'US', 'state-province': None, 'web_pages': ['http://www.middlesex.mass.edu']}, {'country': 'United States', 'name': 'Middlesex County College', 'domains': ['middlesexcc.edu'], 'alpha_two_code': 'US', 'state-province': None, 'web_pages': ['http://www.middlesexcc.edu']}, {'country': 'United Kingdom', 'name': 'Middlesex University', 'domains': ['mdx.ac.uk'], 'alpha_two_code': 'GB', 'state-province': None, 'web_pages': ['http://www.mdx.ac.uk/']}, {'country': 'United States', 'name': 'Middlebury College', 'domains': ['middlebury.edu'], 'alpha_two_code': 'US', 'state-province': None, 'web_pages': ['http://www.middlebury.edu/']}, {'country': 'United States', 'name': 'Middle Georgia State College', 'domains': ['mga.edu'], 'alpha_two_code': 'US', 'state-province': None, 'web_pages': ['http://www.mga.edu/']}, {'country': 'Jordan', 'name': 'Middle East University', 'domains': ['meu.edu.jo'], 'alpha_two_code': 'JO', 'state-province': None, 'web_pages': ['http://www.meu.edu.jo/']}, {'country': 'Turkey', 'name': 'Middle East Technical University', 'domains': ['metu.edu.tr'], 'alpha_two_code': 'TR', 'state-province': None, 'web_pages': ['http://www.metu.edu.tr/']}, {'country': 'United States', 'name': 'Middle Tennessee State University', 'domains': ['mtsu.edu'], 'alpha_two_code': 'US', 'state-province': None, 'web_pages': ['http://www.mtsu.edu/']}, {'country': 'Kuwait', 'name': 'American University of Middle East', 'domains': ['aum.edu.kw'], 'alpha_two_code': 'KW', 'state-province': None, 'web_pages': ['http://www.aum.edu.kw/']}]

Next, we can **flatten** (aka, Normalize) the fields containing the nested lists (**domains** and **web_pages**) using the **record_path** parameter of the **pandas.json_normalize** function.

In [11]:
pd.json_normalize(json_data, record_path=['domains'])

                     0
0     middlesbro.ac.uk
1           mbro.ac.uk
2   middlesex.mass.edu
3      middlesexcc.edu
4            mdx.ac.uk
5       middlebury.edu
6              mga.edu
7           meu.edu.jo
8          metu.edu.tr
9             mtsu.edu
10          aum.edu.kw

We can confirm that the *domains* field has been flattened since we now have 10 observations where before we had only 9. However, we also want to include other fields; which we accomplish with the **meta** parameter. Note that we've also omitted the **state-province** field since it doesn't appear to contain any useful data. What's more, since it's possible for some **keys** to be missing in a JSON document, we can supress any errors using the **errors='ignore'** parameter.

In [12]:
df = pd.json_normalize(json_data,
                       record_path=['domains'],
                       meta=['country', 'name', 'alpha_two_code'],
                       errors='ignore')
df

,0,country,name,alpha_two_code
0,middlesbro.ac.uk,United Kingdom,Middlesbrough College,GB
1,mbro.ac.uk,United Kingdom,Middlesbrough College,GB
2,middlesex.mass.edu,United States,Middlesex Community College,US
3,middlesexcc.edu,United States,Middlesex County College,US
4,mdx.ac.uk,United Kingdom,Middlesex University,GB
5,middlebury.edu,United States,Middlebury College,US
6,mga.edu,United States,Middle Georgia State College,US
7,meu.edu.jo,Jordan,Middle East University,JO
8,metu.edu.tr,Turkey,Middle East Technical University,TR
9,mtsu.edu,United States,Middle Tennessee State University,US
10,aum.edu.kw,Kuwait,American University of Middle East,KW

Next, we can normalize the **web_pages** list to ensure an unique row for each of its unique values as we add it to the DataFrame.

In [14]:
df['web_pages'] = pd.json_normalize(json_data, record_path=['web_pages'])
df

,0,country,name,alpha_two_code,web_pages
0,middlesbro.ac.uk,United Kingdom,Middlesbrough College,GB,https://www.mbro.ac.uk/
1,mbro.ac.uk,United Kingdom,Middlesbrough College,GB,http://www.middlesex.mass.edu
2,middlesex.mass.edu,United States,Middlesex Community College,US,http://www.middlesexcc.edu
3,middlesexcc.edu,United States,Middlesex County College,US,http://www.mdx.ac.uk/
4,mdx.ac.uk,United Kingdom,Middlesex University,GB,http://www.middlebury.edu/
5,middlebury.edu,United States,Middlebury College,US,http://www.mga.edu/
6,mga.edu,United States,Middle Georgia State College,US,http://www.meu.edu.jo/
7,meu.edu.jo,Jordan,Middle East University,JO,http://www.metu.edu.tr/
8,metu.edu.tr,Turkey,Middle East Technical University,TR,http://www.mtsu.edu/
9,mtsu.edu,United States,Middle Tennessee State University,US,http://www.aum.edu.kw/
10,aum.edu.kw,Kuwait,American University of Middle East,KW,NaN

Finally, we create a dictionary to **map** new column names to the old ones using the **rename()** function of the **pandas.DataFrame**.  We also demonstrate how columns can be reordered by simply passing a **list** of column names in the desired order.

In [15]:
column_name_map = {0 : "Domain",
                   "country" : "Country",
                   "name" : "Institution_Name",
                   "alpha_two_code" : "Country_Code",
                   "web_pages" : "Web_Address"
                  }

df.rename(columns=column_name_map, inplace=True)
df = df[['Institution_Name','Country','Country_Code','Domain','Web_Address']]
df

,Institution_Name,Country,Country_Code,Domain,Web_Address
0,Middlesbrough College,United Kingdom,GB,middlesbro.ac.uk,https://www.mbro.ac.uk/
1,Middlesbrough College,United Kingdom,GB,mbro.ac.uk,http://www.middlesex.mass.edu
2,Middlesex Community College,United States,US,middlesex.mass.edu,http://www.middlesexcc.edu
3,Middlesex County College,United States,US,middlesexcc.edu,http://www.mdx.ac.uk/
4,Middlesex University,United Kingdom,GB,mdx.ac.uk,http://www.middlebury.edu/
5,Middlebury College,United States,US,middlebury.edu,http://www.mga.edu/
6,Middle Georgia State College,United States,US,mga.edu,http://www.meu.edu.jo/
7,Middle East University,Jordan,JO,meu.edu.jo,http://www.metu.edu.tr/
8,Middle East Technical University,Turkey,TR,metu.edu.tr,http://www.mtsu.edu/
9,Middle Tennessee State University,United States,US,mtsu.edu,http://www.aum.edu.kw/
10,American University of Middle East,Kuwait,KW,aum.edu.kw,NaN

With the data having been **extracted** from an API, and any desired **transformations** having been accomplished, we can now **load** the data into any desired destination; e.g., SQL database, NoSQL database, or data lake (file system).

### 3.0. API Endpoint Authentication & Parameters

In [ ]:
def get_api_response(url, headers, params):
    try:
        response = requests.get(url, headers=headers, params=params)
        response.raise_for_status()
    
    except requests.exceptions.HTTPError as errh:
        return "An Http Error occurred: " + repr(errh)
    except requests.exceptions.ConnectionError as errc:
        return "An Error Connecting to the API occurred: " + repr(errc)
    except requests.exceptions.Timeout as errt:
        return "A Timeout Error occurred: " + repr(errt)
    except requests.exceptions.InvalidHeader as erri:
        return "A Header Error occurred: " + repr(erri)
    except requests.exceptions.RequestException as err:
        return "An Unknown Error occurred: " + repr(err)
        
    return response.json()

Before you can start using the GitHub API, you'll need to generate a *personal access token* to enable you to authenticate to the API. To create your own token, navigate to https://github.com/settings/tokens and then click the **Generate New Token** button.

In [ ]:
GITHUB_TOKEN="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"
os.environ["GITHUB_TOKEN"] = GITHUB_TOKEN

In [ ]:
token = os.getenv('GITHUB_TOKEN', '...')
print(token)

In [ ]:
owner = "JTupitza-UVA"
repo = "DS-3002-01"
query_url = f"https://api.github.com/repos/{owner}/{repo}/issues"

params = {
    "state": "open",
}

headers = {'Authorization': f'token {token}'}

In [ ]:
json_data = get_api_response(query_url, headers, params)
pprint.pprint(json_data)